@font-face {
  font-family: AppleSDGothic;
  src: url(./fonts/AppleSDGothicNeoL.ttf) format('ttf');
  font-weight: 300;
}
@font-face {
  font-family: AppleSDGothic;
  src: url(./fonts/AppleSDGothicNeoM.ttf) format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: AppleSDGothic;
  src: url(./fonts/AppleSDGothicNeoH.ttf) format('ttf');
  font-weight: 600;
}
@font-face {
  font-family: AppleSDGothic;
  src: url(./fonts/AppleSDGothicNeoB.ttf) format('ttf');
  font-weight: 700;
}
@font-face {
  font-family: AppleSDGothic;
  src: url(./fonts/AppleSDGothicNeoEB.ttf) format('ttf');
  font-weight: 800;
}

html,
body {
  font-family: AppleSDGothic;
  overflow: visible;
  position: relative;
  margin: 0;
  padding: 0;
  color: #4c4c4c;
}
.mobile {
  display: none !important;
}
.w-1050 {
  max-width: 1050px;
  margin: 0 auto;
}

.s-icon {
  width: 8px;
  height: 5px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul {
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  background-color: rgb(240, 240, 240);
  outline: none;
  border: none;
  border-radius: 18px;
}
header .popup {
  position: relative;
  text-align: center;
  background-color: #2ac1bc;
  color: #fff;
  font-size: 14px;
  padding: 12px 0;
}
header .popup > div {
  position: relative;
}
header .popup .close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
header .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header .top .deliver {
  width: 112px;
  height: 14px;
  overflow: hidden;
  font-size: 12px;
  margin-top: 10px;
  color: gray;
  position: relative;
  padding: 3px 10px 2px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 100px;
}

@keyframes list {
  0% {
    transform: translateY(0);
  }
  49.99% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(-15px);
  }
}

header .top .deliver .list {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: list 2s infinite;
}

header .top .deliver span {
  color: #2ac1bc;
  font-weight: 700;
}

header .top .logo {
  margin: 16px auto 0;
  width: 123px;
  height: 86px;
}

header .top .members {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 12px;
  padding: 0;
  font-size: 12px;
  height: fit-content;
}

header .top .members li:before {
  content: '|';
  margin: 0 11px;
  color: #ddd;
  font-size: 13px;
}

header .top .members li:first-child:before {
  content: none;
}
header .top .members li:first-child {
  color: #2ac1bc;
}
header .top .members li:last-child:after {
  content: '';
  background: url(./images/ico_down_16x10.webp) no-repeat;
  background-size: 8px 5px;
  margin-left: 4px;
  position: absolute;
  width: 8px;
  height: 5px;
  top: 16px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999999;
  height: 55px;
  background-color: #fff;
}

nav.goods {
  height: 100%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  column-gap: 50px;
  align-items: center;
}

nav.goods ul {
  font-weight: 600;
  max-height: 19px;
  padding-top: 4px;
  justify-content: space-between;
  padding-right: 15px;
}

nav.goods ul li:first-child img {
  width: 20px;
  height: 20px;
  color: #fff;
}

nav.goods ul li:hover {
  border-bottom: 1px solid #2ac1bc;
  color: #2ac1bc;
}

nav.goods ul li:first-child a {
  display: flex;
}

nav.goods ul li:first-child:hover {
  border-bottom: none;
  color: #2ac1bc;
}
nav.goods ul li:first-child:hover a svg {
  fill: #2ac1bc;
}

nav.goods .nav-search {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav.goods .nav-search .search-input-wrap {
  position: relative;
}

nav.goods .nav-search .search-input-wrap:before {
  content: '';
  cursor: pointer;
  background: url(./images/ico_search_x2.webp) no-repeat;
  background-size: 30px 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
}

nav.goods .nav-search .search-input {
  display: inline-block;
  border: 1px solid #f7f7f6;
  width: 182px;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  height: 36px;
  letter-spacing: -0.05em;
  padding: 0 60px 0 14px;
}

.contents {
  overflow: hidden;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100vw);
  }
  40% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  65% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  90% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translate(0);
  }
}

.contents .slider {
  display: grid;
  white-space: nowrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  animation: slide 10s infinite;
}

.contents .slider .slider-img {
  background: skyblue;
  position: relative;
  text-align: center;
  font-size: 40px;
  width: 100vw;
  height: 370px;
}

.contents .slider .slider-img img {
  width: 100%;
  height: 370px;
}

.contents section:nth-child(2n + 1) {
  background-color: #f7f7f7;
}

.contents section .section-title {
  position: relative;
  color: #333;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding: 79px 0 35px;
  font-weight: 600;
}

.contents section .right-arrow:after {
  content: '〉';
  margin-left: 10px;
  position: absolute;
}

.contents section .subtitle {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #999;
  line-height: 20px;
  text-align: center;
}

.contents section .banner img {
  width: 100%;
}

/* 상품 나열 */
.contents section .item-grid {
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: hidden;
  overflow-x: scroll;
}
.contents section .item-grid:-webkit-scrollbar {
  display: none;
}
.contents section .item-grid li {
  margin-right: 18px;
  height: 506px;
}
.contents section .item-grid li.event .item-img-wrapper {
  height: 338px;
}
.contents section .item-grid li.event .item-info .item-title {
  font-size: 18px;
  letter-spacing: -0.3px;
}
.contents section .item-grid li.recipe {
  height: 303px;
}
.contents section .item-grid .item-img-wrapper {
  overflow: hidden;
}
.contents section .item-grid img {
  width: 100%;
  height: 100%;
}
.contents section .item-grid.items-4 .item-img-wrapper {
  width: 249px;
  height: 320px;
}
.contents section .item-grid.items-3 .item-img-wrapper {
  width: 338px;
  height: 225px;
}
.contents section .item-grid img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
.contents section .item-grid .item-info .item-name {
  font-size: 16px;
  white-space: break-spaces;
  margin-top: 12px;
  margin-bottom: 9px;
}
.contents section .item-grid .item-info .discount {
  color: #fa622f;
  font-weight: 700;
}
.contents section .item-grid .item-info .price {
  color: #333;
  font-weight: 700;
}
.contents section .item-grid .item-info .cancel-price {
  color: #999;
  padding-top: 5px;
  text-decoration: line-through;
}
.contents section .item-grid .item-info .item-title {
  text-align: center;
  margin-top: 16px;
  font-weight: 700;
}

.contents section .item-grid .item-info .item-subtitle {
  text-align: center;
  margin-top: 10px;
  color: #999;
}
/* MD의 추천 카테고리 */
.contents section .list_category {
  display: block;
  width: 1050px;
  max-width: 1050px;
  padding: 0 0 20px;
  margin: 0 auto;
  text-align: center;
}

.contents section .list_category li {
  display: inline-block;
  padding: 0 7px 16px;
}
.contents section .list_category li a {
  display: inline-block;
  padding: 10px 20px 10px 19px;
  border: 1px solid #f7f7f6;
  border-radius: 20px;
  background-color: #f7f7f7;
  font-size: 14px;
  line-height: 18px;
}
.contents section .list_category li a:hover {
  border: 1px solid rgba(13, 250, 214, 0.3);
  background-color: rgba(13, 250, 214, 0.3);
  font-weight: 700;
  color: #2ac1bc;
}
.contents section .list_category li a.on {
  border: 1px solid #2ac1bc;
  background-color: #2ac1bc;
  font-weight: 700;
  color: #fff;
}
.contents section .show-category-items {
  margin-top: -80px;
  padding-bottom: 100px;
}
.contents section .show-category-items a {
  max-width: 516px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 56px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  text-align: center;
}

/* 배너 */
.contents section .banner {
  margin: 0 auto;
  width: 1050px;
  min-height: 140px;
  max-width: 1050px;
}
.contents section .banner.typing {
  background-color: #f9eaea;
}

.contents section .banner.typing .typing-title {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 35px 50px 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contents section .banner.typing .typing-subtitle {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 5px 50px 0;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.contents section .item-grid.items-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.contents section .item-grid li.instargram {
  height: fit-content;
  position: relative;
  width: 175px;
  height: 175px;
  margin-right: 0;
}

.contents section .item-grid li.instargram a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contents section .item-grid li.instargram img {
  width: 100%;
  height: 175px;
}

.contents section .item-grid li.instargram img:hover {
  transform: none;
}
/* 인스타 주소 */
.contents section .instar {
  color: #333;
  padding: 8px 0 100px;
  font-weight: 700;
}
/* footer */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .left {
  display: grid;
  grid-template-rows:
    1fr
    1fr
    1fr
    1fr
    1fr;
}

footer .left .line {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  font-size: 20px;
  align-self: center;
}

footer .left .line .call {
  font-size: 31px;
  justify-self: start;
  font-weight: 700;
}

footer .left .line .box {
  font-size: 15px;
  font-weight: 600;
  min-width: 110px;
  padding: 8px 20px;
  text-align: center;
  border: 1px solid #dfdfdf;
  justify-self: start;
}

footer .left .line .contact {
  color: #333;
  font-size: 15px;
  justify-self: start;
}

footer .left .line .contact div:last-child {
  color: #999;
}

footer .right .about {
  color: #333;
  justify-content: flex-start;
  font-size: 15px;
}

footer .right .about li {
  margin-right: 16px;
  cursor: pointer;
}

footer .right pre {
  color: #999;
  margin: 20px 0 0px;
  line-height: 20px;
  word-spacing: -5px;
}

footer .right pre span {
  font-weight: 700;
  color: #2ac1bc;
  cursor: pointer;
}

footer .right .list_sns {
  margin: 0;
}

footer .right .list_sns img {
  width: 33px;
  margin: 0 7px;
}

footer .footer_link {
  margin: 25px 0 60px;
  padding: 10px 0;
  border-top: 1px solid #e3e3e3;
  color: #999;
  display: flex;
  font-size: 12px;
}

/* mobile */
@media (max-width: 1049px) {
  .mobile {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
  }
  header .popup {
    background-color: #fff;
    padding: 10.5px;
    font-size: 14px;
    color: #333;
  }
  header .popup b {
    color: #2ac1bc;
  }
  header .top {
    display: grid;
    background-color: #2ac1bc;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    height: 50px;
    justify-content: space-between;
    align-items: center;
  }
  header .top .logo {
    margin: auto;
    max-width: 60px;
    max-height: 45px;
  }

  header .top .icons {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }
  header .top .icons img {
    width: 30px;
  }

  header ul.goods {
    display: flex;
    justify-content: space-around;
    padding-right: 15px;
  }
  header ul.goods li {
    display: block;
    overflow: hidden;
    float: none;
    margin-left: 0;
    padding: 12px 0;
    font-size: clamp(14px, 3vw, 16px);
    color: #666;
    line-height: 24px;
    white-space: nowrap;
    text-align: center;
  }

  header ul.goods li.on {
    color: #2ac1bc;
    border-bottom: 3px solid #2ac1bc;
  }
  header .bottom-nav {
    height: 44px;
    position: fixed;
    align-items: flex-end;
    display: flex;
    padding: 0 0 4px 0;
    background-color: gray;
    width: 100%;
    font-size: 12px;
    justify-content: space-around;
    bottom: 0;
  }
  header .bottom-nav .home {
    color: #2ac1bc;
  }
  .contents section {
    padding: 16px 0 0 16px;
  }
  .contents section.slider {
    padding: 0;
  }
  .contents section .section-title {
    padding: 16px 0 16px;
    font-size: 18px;
    text-align: left;
  }
  .contents section .section-title .subtitle {
    font-size: 14px;
    padding: 0;
    text-align: left;
  }
  .contents section .item-grid li {
    height: auto;
    margin-right: 7px;
  }
  .contents section .item-grid.items-4 .item-img-wrapper {
    width: 43.5vw;
    max-width: 249px;
    height: auto;
    max-height: 320px;
  }
  .contents section .item-grid .item-info .item-name,
  .contents section .item-grid .item-info .discount,
  .contents section .item-grid .item-info .price {
    font-size: clamp(14px, 3vw, 16px);
  }
  .contents section .item-grid .item-info .cancel-price {
    font-size: clamp(12px, 3vw, 14px);
  }
  .contents section .item-grid.items-4 .item-info {
    height: 108px;
  }
  .contents section .item-grid.items-3 ul {
    display: block;
  }
  .contents section .item-grid.items-3 ul li {
    display: flex;
    margin-bottom: 16px;
  }
  .contents section .item-grid li.event .item-img-wrapper {
    width: 27%;
    height: auto;
  }
  .contents section .item-grid li.event .item-info {
    display: grid;
    padding-left: 16px;
  }
  .contents section .item-grid li.event .item-info .item-title {
    font-size: 16px;
    margin: 0;
    align-self: flex-end;
  }
  .contents section .item-grid li.event .item-info .item-subtitle {
    font-size: 14px;
    text-align: left;
    align-self: flex-start;
  }
  .contents section .banner {
    width: calc(100% + 16px);
    margin-left: -16px;
    min-height: auto;
  }
  .contents section .banner.typing {
    background-color: #f9eaea;
    display: grid;
    min-height: 50px;
    height: 20vh;
    max-height: 100px;
  }
  .contents section .banner.typing .typing-title,
  .contents section .banner.typing .typing-subtitle {
    text-align: center;
    padding: 0;
    color: rgb(106, 38, 38);
  }
  .contents section .banner.typing .typing-title {
    align-self: flex-end;
    font-size: 18px;
  }
  .contents section .banner.typing .typing-subtitle {
    align-self: flex-start;
    font-size: 14px;
  }
  .contents section .list_category {
    display: inline-flex;
    width: auto;
    overflow-x: auto;
    min-width: auto;
    padding: 0;
    height: 75px;
  }
  .contents section .list_category li {
    padding: 0;
    height: fit-content;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .contents section .list_category li a {
    border: 0px;
    padding: 15px 0;
    border-radius: 0;
    margin-left: 16px;
    white-space: pre;
    color: #999;
    background-color: transparent;
  }
  .contents section .list_category li a:hover {
    border: 0;
    background-color: transparent;
    color: #999;
  }
  .contents section .list_category li a.on {
    border: none;
    color: #2ac1bc;
    border-radius: 0;
    border-bottom: 3px solid #2ac1bc;
    background-color: transparent;
  }
  .contents section #md_choice.item-grid.items-4 ul {
    display: grid;
    padding-right: 16px;
    grid-column-gap: 4px;
    grid-template-columns: repeat(3, 1fr);
  }

  .contents section #md_choice.item-grid.items-4 ul li {
    margin-right: 0;
    justify-self: center;
  }
  .contents section #md_choice.item-grid.items-4 ul li .item-img-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
  }
  .contents section #md_choice.item-grid.items-4 ul li .item-info .item-name,
  .contents section #md_choice.item-grid.items-4 ul li .item-info .discount,
  .contents section #md_choice.item-grid.items-4 ul li .item-info .price {
    font-size: clamp(12px, 3vw, 14px);
  }
  .contents section #md_choice.item-grid.items-4 ul li .item-info .cancel-price {
    font-size: clamp(10px, 3vw, 12px);
  }
  .contents section .show-category-items {
    margin-top: 0;
    padding-bottom: 40px;
  }
  .contents section .show-category-items a {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
    border: 1px solid #f7f7f6;
    border-radius: 3px;
    background-color: #f7f7f7;
    text-align: center;
  }

  .contents section .show-category-items a {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 50px;
    border: 1px solid #f7f7f6;
    border-radius: 3px;
    background-color: #f7f7f7;
    text-align: center;
  }
  .contents section #recipe.item-grid.items-3 ul {
    display: list-item;
  }
  .contents section #recipe.item-grid.items-3 ul li {
    display: inline-block;
    width: 61%;
    max-width: 330px;
  }
  .contents section #recipe.item-grid.items-3 ul li .item-img-wrapper {
    width: 100%;
  }

  .contents section #recipe.item-grid.items-3 ul li .item-info .item-title {
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    margin-top: 8px;
  }
  footer {
    display: block;
  }

  footer .mobile .about {
    font-size: 13px;
    display: grid;
    margin: 16px 0 16px 16px;
    grid-row-gap: 15px;
    color: #999;
    grid-template-columns: 0.4fr 0.4fr 0.4fr 1fr;
  }
  footer .mobile .about li:last-child {
    color: #444;
  }
  footer .mobile .list_sns {
    padding-left: 16px;
  }

  footer .mobile .list_sns li {
    padding-right: 10px;
  }

  footer .mobile .list_sns li img {
    max-width: 30px;
  }

  footer .mobile pre {
    font-size: 12px;
    padding-left: 16px;
    color: #aaa;
    margin: 12px 0 0 0;
  }
  footer .mobile span {
    color: #2ac1bc;
  }
  footer .mobile pre .callnum {
    font-size: 20px;
    color: #2ac1bc;
    display: inline-block;
    padding: 8px 0;
  }
  footer .mobile .footer_link {
    border: 0;
    color: #aaa;
    font-size: 10px;
    margin-top: 0;
    padding: 0 0 0 16px;
    display: block;
  }
}
